<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @picture.article_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @picture.photo %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
