
<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="new-article-area">
    <div class="new-article">
      <h1>New Article</h1>
      <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image %>
      </div>
      <div class="field">
        <%= form.label :image2 %>
        <%= form.file_field :image2 %>
      </div>
      <div class="field">
        <%= form.label :image3 %>
        <%= form.file_field :image3 %>
      </div>
      <div class="field">
        <%= form.label :image4 %>
        <%= form.file_field :image4 %>
      </div>
      <div class="field">
        <%= form.label :image5 %>
        <%= form.file_field :image5 %>
      </div>

      <div class="field">
        <%= form.label :body %>
        <%= form.text_area :body %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
      <%= link_to 'Back', articles_path %>
    </div>
  </div>
  <% end %>

