<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :picture do |p| %>
    <div class="field">
      <%= p.label :photo %><br>
      <%= p.file_field :photo, :multiple => true, name: "pictures[photo][]" %>
    </div>
  <% end %>

  <%= form.fields_for :picture do |p| %>
    <div class="field">
      <%= p.label :photo %><br>
      <%= p.file_field :photo, :multiple => true, name: "pictures[photo][]" %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
