<div class="article_index">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="article-container">
      <div class="user-index">
        <ul class="user-list">
          <% @users.each do |user| %> 
            <li><a href="/users/<%= user.id %>"><img src="<%= user.image %>"  class = "icon_image2">     <%= user.name %></a></li>
          <% end %>
        </ul>
      </div>
      <div class="article-main">
        <% @articles.each do |article| %>
          <div class="article-post">
            <div class="name">
              <img src=<%= article.user.image %> class = "icon_image2">
              <%= article.user.name %>
            </div>
            <div class="picture arrows">
              <div class="slide"><%= image_tag article.image.to_s , :size => '800x600'%></div>
              <div class="slide"><%= image_tag article.image2.to_s, :size => '800x600' %></div>
              <div class="slide"><%= image_tag article.image3.to_s, :size => '800x600' %></div>
              <div class="slide"><%= image_tag article.image4.to_s, :size => '800x600' %></div>
              <div class="slide"><%= image_tag article.image5.to_s, :size => '800x600' %></div>
            </div>
            <div class="article-icon">
            <a class="fa fa-heart-o" hreh="users_path" ></a>
            <a class="fa fa-comment-o" hreh="users_path" ></a>
            <a class="fa fa-paper-plane-o" hreh="users_path" ></a>
          </div>
            <div class="article_body">
              <%= article.body %>
            </div>

<%#            <%= link_to 'Edit', edit_article_path(article) %>
<%#              <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %> 
          </div>
        <% end %>
        <div class="new-article">
          <%= link_to 'New Article', new_article_path %>
        </div>
      </div>
    </div>
  </div>
</div>

