<div class="article_index">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="article-main">
      <% @articles.each do |article| %>
        <div class="article-post">
          <div class="name">
            <img src=<%= article.user.image %> class = "icon_image2">
            <%= article.user.name %>
          </div>
          <div class="change-btn-wrapper">
            <div class="change-btn prev-btn"><i class="fa fa-arrow-left" ></i></div>
            <div class="change-btn next-btn"><i class="fa fa-arrow-right"></i></div>
          </div>
          <div class="picture">
            <ul>
              <li class="slide active"><%= image_tag article.image.to_s , :size => '500x300'%></li>
              <li class="slide"><%= image_tag article.image2.to_s, :size => '500x300' %></li>
              <li class="slide"><%= image_tag article.image3.to_s, :size => '500x300' %></li>
              <li class="slide"><%= image_tag article.image4.to_s, :size => '500x300' %></li>
              <li class="slide"><%= image_tag article.image5.to_s, :size => '500x300' %></li>
            </ul>
          </div>
          <div class="article_body">
            <%= article.body %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="new-article">
      <%= link_to 'New Article', new_article_path %>
    </div>
    <h1>Ajax#index</h1>
<p id="hoge">赤色になるよ</p>
  </div>
</div>

