<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @article.user.name %>
</p>

<% @picture.each do |p| %>
  <%= image_tag p.photo_url %>
<% end %>
<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<% if user_signed_in? && @article.user_id == current_user.id %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>