<div class="article_show">
  <div class="container">
    <div class="article-post">
      <p id="notice"><%= notice %></p>

      <div class="name">
        <a href="/users/<%= @user.id %>"><img src="<%= @article.user.image %>"  class="icon_image2">     <%= @article.user.name %></a>
      </div>

      <div class="picture arrows">
      <% if @article.image.file.present? %>
        <div class="slide"><%= image_tag @article.image.to_s , :size => '600x500'%></div>
      <% end %>
      <% if @article.image2.file.present? %>
        <div class="slide"><%= image_tag @article.image2.to_s, :size => '600x500' %></div>
      <% end %>
      <% if @article.image3.file.present? %>
        <div class="slide"><%= image_tag @article.image3.to_s, :size => '600x500' %></div>
      <% end %>
      <% if @article.image4.file.present? %>
        <div class="slide"><%= image_tag @article.image4.to_s, :size => '600x500' %></div>
      <% end %>
      <% if @article.image5.file.present? %>
        <div class="slide"><%= image_tag @article.image5.to_s, :size => '600x500' %></div>
      <% end %>
      </div>
      <div class="likes-btn">
        <% if Like.find_by(user_id: current_user.id, article_id: @article.id) %>
        <%= link_to("/likes/#{@article.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
          <% end %>
        <% else %>
          <%= link_to("/likes/#{@article.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
          <% end %>
        <% end %>
        <%= @likes_count %>
      </div>
      <div class="article_body">
        <span class="readmore-btn"></span>
        <div class="body-text">
          <p><%= simple_format(@article.body) %></p>
        </div>
      </div>
      <div class="comment-show">
        <p>コメント一覧</p>
        <span>+</span>
        <div class="comennt">
          <ul class="comment-list">
            <% @comments.each do |comment| %>
              <li><a href="/users/<%= @user.id %>"><img src=<%= comment.user.image %> class="icon_image2">
              <%= comment.user.name %>
              <%= comment.content %></a>
              <% if user_signed_in? && comment.user_id == current_user.id %>
                <%=link_to "削除", article_comment_path(@article, comment), method: :delete %></li> 
              <% end %>          
            <% end %>
          </ul> 
        </div>
      </div>
      <div class="comment-new">
        <%= form_for [@article, @comment] do |f| %>
          <%= f.text_field :content %>
          <%= f.submit '送信' %>
        <% end %>
      </div>
      <div class="link">
        <% if user_signed_in? && @article.user_id == current_user.id %>
            <%= link_to 'Edit', edit_article_path(@article) %> <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %>
        <%= link_to 'Back', articles_path %>
      </div>
    </div>
  </div>
</div>