<div class="container">
  <div class="mainwrapper">
    <div class="aside">
      <%= render 'posts/aside' %>
    </div>
    <div class="main-area">
      <div class="post-index">
        <% @likes.each do |like| %>
        <% post = Post.find_by(id: like.post_id) %>
        <% @likes_count = Like.where(post_id: post.id).count %>
          <div class="recipe-list">
            <div class="recipe-left">
              <a href="/posts/<%= post.id %>"><%= image_tag post.posts_image.to_s, :size => '200x200', class:'posts_image' %></a>
            </div>
            <div class="recipe-right">
              <a href="/posts/<%= post.id %>"><%= post.name %></a>
              <p><%= post.content %></p>
              <% post.foods.each do |food| %>
                <%= food.m_name %>
              <% end %>
            </div>
            <div class="recipe-likes">
              <% if Like.find_by(user_id:current_user.id,post_id:post.id) %>
                <%= link_to("/likes/#{post.id}/destroy",{method: "post"}) do %>
                  <span class="fa fa-heart unlike-btn"></span>
                <% end %> 
              <% else %>
                <%= link_to("/likes/#{post.id}/create",{method: "post"}) do %>
                  <span class="far fa-heart like-btn"></span>
                <% end %> 
              <% end %> 
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>