<div class="container">
  <div class="mainwrapper">
    <div class="aside">
      <%= render 'posts/aside' %>
    </div>
    <div class="main-area">
      <div class="user-wrapper">
        <div class="icon_image">
          <%= image_tag @user.icon_image.to_s, class:"icon_image" %> 
        </div>
        <div class="user-show-top">
          <div class="user-show-left">
            <%= image_tag @user.user_image.to_s, class:"show-user_image" %>
            <span class="fa fa-plus-circle setting"></span>
          </div>
          <div class="user-show-mid">
            <%= @user.name %>
          </div>
          <div class="user-show-right">
            <%= link_to("レシピを投稿する", new_post_path) %>
          </div>
        </div>
        <div class="user-show-content">
          <%= @user.content %>
        </div>
        <div class="user-show-post grid">
          <% @post.each do |post| %>
            <div class="item">
              <a href="/posts/<%= post.id %>"><%= image_tag post.posts_image.to_s, :size => '200x200',class:'show-user' %>
              <p><%= post.name %></p></a>
            </div>
          <% end %>
        </div>
        <!-- アイコンイメージモーダル-->
        <div class="setting-modal-wrapper" id="icon_image-setting-modal">
          <div class="modal-main">
            <div class="close-modal">
              <i class="fa fa-2x fa-times"></i>
            </div>
            <div id="icon_image-setting-form">
              <%= form_for(resources, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resources: resources %>
              <div class="field-image">
                <%= f.label :トップ画像 %><br/>
                <%= f.file_field :icon_image, id: :icon_image %>
                <%= image_tag @user.icon_image.to_s, id: :icon_img_prev, :size => '200x100'%>
                <script type="text/javascript">
                $(function() {
                  function readURL(input) {
                    if (input.files && input.files[0]) {
                      var reader = new FileReader();
                      reader.onload = function (e) {
                        $('#icon_img_prev').attr('src', e.target.result);
                      }
                      reader.readAsDataURL(input.files[0]);
                    }
                  }
                  $("#icon_image").change(function(){
                    readURL(this);
                  });
                  });
                </script>
              </div>
              <div class="field-password">
                <%= f.label :password %> <br>
                <%= f.password_field :current_password, autocomplete: "current-password" %>
              </div>
              <div class="actions">
                <%= f.submit "Update" %>
              </div>
            <% end %>
            </div>
          </div>
        </div>
        <!-- セッティングモーダル -->
        <%= render 'devise/registrations/edit' %>
      </div>
    </div>
  </div>
</div>