<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <div class="header_main">
        <div class="header-left">
          <span class="fa fa-bars sidemenu"></span>
        </div>
        <div class="header-center">
          <h2>Cooking Recipe</h2>
        </div>
        <div class="header_right">
          <% if user_signed_in? %>
          <a href="/users/<%= current_user.id %>"><%= image_tag current_user.user_image.to_s, class:"user_image" %>
            <%= current_user.name %></a>
          <% else %>
          <div class="signup">
            <%= link_to("Sign up",new_user_registration_path) %>
          </div>
          <div class="login">
            <span>Login</span>
          </div>
          <% end %>
        </div>
      </div>
  <!-- ログインモーダル -->
      <div class="login-modal-wrapper" id="login-modal">
        <div class="modal-main">
          <div class="close-modal">
            <i class="fa fa-2x fa-times"></i>
          </div>
          <div id="login-form">
            <h2>ログイン</h2>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
            
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password" %>
              </div>
            
              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
            
              <div class="actions">
                <%= f.submit "Log in" %>
              </div>
            <% end %>
            
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>

    </header>
  <!--サイドメニューモーダル-->
    <div class="sidemenu-modal-wrapper" id="sidemenu-modal">
      <div class="sidemenu-modal-main">
        <div class="close-modal">
          <i class="fa fa-2x fa-times sidemenu-close"></i>
        </div>
        <div id="sidemenu-form">
          <% if user_signed_in? %>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/posts/">ホーム</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/<%= current_user.id %>">マイページ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/<%= current_user.id %>/likes">いいね</a>
            </li>
            <li class="nav-item">
              <%= link_to("ランキング",ranking_posts_path,class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("検索",search_posts_path,class: "nav-link") %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">ユーザー一覧</a>
            </li>
            <li class="nav-item">
              <%= link_to("ログアウト", destroy_user_session_path,class: "nav-link") %>
            </li>
          </ul>
          <% end %>
        </div>
      </div>
    </div> 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

<!-- jQuery -->
<script>
$(function() { 
  $('.login').click(function(){
    $('#login-modal').fadeIn();
  });

  $('.setting').click(function(){
    $('#setting-modal').fadeIn();
  });
  
  $('.sidemenu').click(function(){
    $('#sidemenu-modal').fadeIn();
  });

  $('.icon_image').click(function(){
    $('#icon_image-setting-modal').fadeIn();
  });

  $('.close-modal').click(function() {
    $('#login-modal').fadeOut();
    $('#setting-modal').fadeOut();
    $('#sidemenu-modal').fadeOut();
    $('#icon_image-setting-modal').fadeOut();
  });

  <!--コメント欄-->
  $('.plus').click(function() {
    var $answer = $('.comment').find('.answer');
    if($answer.hasClass('open')) { 
      $answer.removeClass('open');
      $answer.slideUp();
      $('.comment').find('.plus').text('+');
      
    } else {
      $answer.addClass('open'); 
      $answer.slideDown();
      $('.comment').find('.plus').text('-');    
    }
  });


});
</script>