<%= form_with(model: post, local: true, url: {action: 'confirm'}) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="new-top">
    <div class="new-left">
      <%= form.label :タイトル %><br>
      <%= form.text_field :name %><br>
      <%= form.label :紹介文,class:"new-content" %><br>
      <%= form.text_area :content %>
    </div>
    <div class="new-right">
      <%= form.label :画像 %>
      <%= form.file_field :posts_image, id: :posts_image %>
      <%= image_tag @post.posts_image.to_s, id: :post_img_prev, :size => '200x200'%>
      <script type="text/javascript">
      $(function() {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $('#post_img_prev').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
        $("#posts_image").change(function(){
          readURL(this);
        });
        });
        </script>
    </div>
  </div>
  <div class="foods">
    <%= form.fields_for :foods do |f| %>
      <%= f.label "材料・分量" %>
      <%= render "food_fields", f: f %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "追加", form, :foods %>
    </div>
  </div>

  <div class="recipes">
    <%= form.fields_for :recipes do |f| %>
      <%= f.label "作り方" %>
      <%= render "recipe_fields", f: f %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "追加", form, :recipes %>
    </div>
  </div>
  <div class="point">
    <%= form.label :コツ・ポイント %><br>
    <%= form.text_area :point %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
