<div class="container">
  <div class="post-mainwrapper">
    <p id="notice"><%= notice %></p>
    <div class="aside">
      <ul class="list-group">
        <li class="list-group-item">マイページ</li>
        <li class="list-group-item">いいね</li>
        <li class="list-group-item">ランキング</li>
        <li class="list-group-item">検索</li>
        <li class="list-group-item">ユーザー一覧</li>
    </ul>
    </div>
    <div class="main-area">
      <div class="post-inde grid">
        <% @posts.each do |post| %>
          <div class="recipe-image">
            <a href="posts/<%= post.id %>"><%= image_tag post.posts_image.to_s, :size => '250x250' %></a>
            <p><%= post.name %></p>
            <span class="fa fa-heart"></span>
          </div>
        <% end %>
      </div>
      <%= link_to 'New Post', new_post_path %>
    </div>
  </div>
</div>
