<div class="container">
  <div class="mainwrapper">
    <div class="aside">
      <ul class="list-group">
        <li class="list-group-item"><a href="/posts/">ホーム</a></li>
        <li class="list-group-item"><a href="/users/<%= current_user.id %>">マイページ</a></li>
        <li class="list-group-item"><a href="/users/<%= current_user.id %>/likes">いいね</a></li>
        <li class="list-group-item"><a href="/posts/ranking">ランキング</a></li>
        <li class="list-group-item"><%= link_to("検索",search_posts_path) %></li>
        <li class="list-group-item"><a href="/users">ユーザー一覧</a></li>
        <li class="list-group-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
    <div class="main-area">
      <div class="post-index">
        <% num = 0 %>
        <% @all_ranks = Post.find(Like.group(:post_id).order('count(post_id) desc').pluck(:post_id)) %>
        <% @all_ranks.each do |post| %>
          <div class="recipe-list">
            <div class="recipe-left">
              <% num += 1 %>
              <p><%= num %>位</p>
              <a href="/posts/<%= post.id %>"><%= image_tag post.posts_image.to_s, :size => '200x200', class:'posts_image' %></a>
            </div>
            <div class="recipe-right">
            <a href="/posts/<%= post.id %>"><%= post.name %></a>
              <p><%= Like.where(post_id:post.id).count %>人がいいねしています</p>
            </div>
            <div class="recipe-likes">
              <% if Like.find_by(user_id:current_user.id,post_id:post.id) %>
                <%= link_to("/likes/#{post.id}/destroy",{method: "post"}) do %>
                  <span class="fa fa-heart unlike-btn"></span>
                <% end %> 
              <% else %>
                <%= link_to("/likes/#{post.id}/create",{method: "post"}) do %>
                  <span class="far fa-heart like-btn"></span>
                <% end %> 
              <% end %>  
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>