<div class="container">
  <div class="mainwrapper">
    <div class="aside">
      <ul class="list-group">
        <li class="list-group-item"><a href="/posts/">ホーム</a></li>
        <li class="list-group-item"><a href="/users/<%= current_user.id %>">マイページ</a></li>
        <li class="list-group-item"><a href="/users/<%= current_user.id %>/likes">いいね</a></li>
        <li class="list-group-item"><%= link_to("ランキング",ranking_posts_path) %></li>
        <li class="list-group-item"><%= link_to("検索",search_posts_path) %></li>
        <li class="list-group-item"><a href="/users">ユーザー一覧</a></li>
        <li class="list-group-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか?"} %></li>
      </ul>
    </div>
    <div class="main-area">
      <%= form_tag('/posts/search', method: 'get') do %>
        <div class="search">
          <div class="search-name">
            <%= label_tag(:keyword, '料理名・材料名') %><br>
            <%= text_field_tag :keyword, '', placeholder:'含む' %><br>
            <%= text_field_tag :notkeyword, '',  placeholder:'含まない' %>
            <%= submit_tag('Search') %> <%= link_to 'Clear','/posts/search' %>
          </div>
          <div class="search-id">
            <%= label_tag(:id_keyword, "レシピID検索") %><br>
            <%= text_field_tag(:id_keyword) %>
            <%= submit_tag('Search') %> <%= link_to 'Clear','/posts/search' %>
          </div>
        </div>
      <% end %>
      <div class="post-index">
        <% @posts.each do |post| %>
          <div class="recipe-list">
            <div class="recipe-left">
              <a href="/posts/<%= post.id %>"><%= image_tag post.posts_image.to_s, :size => '200x200' %></a>
            </div>
            <div class="recipe-right">
              <a href="/posts/<%= post.id %>"><%= post.name %></a>
              <p><%= post.content %></p>
              <% post.foods.each do |food| %>
                <%= food.m_name %>
              <% end %>
            </div>
            <div class="recipe-likes">
              <% if Like.find_by(user_id:current_user.id,post_id:post.id) %>
                <%= link_to("/likes/#{post.id}/destroy",{method: "post"}) do %>
                  <span class="fa fa-heart unlike-btn"></span>
                <% end %> 
              <% else %>
                <%= link_to("/likes/#{post.id}/create",{method: "post"}) do %>
                  <span class="far fa-heart like-btn"></span>
                <% end %> 
              <% end %> 
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to 'New Post', new_post_path %>
    </div>
  </div>
</div>

