<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Posts image:</strong>
  <%= @post.posts_image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @post.materials do |material| %>
    <%= material.name %>
    <%= material.amount %>
  <% end %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Point:</strong>
  <%= @post.point %>
</p>
<% if user_signed_in? && @post.user_id == current_user.id %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
