<div class="container">
  <div class="mainwrapper">
    <div class="aside">
      <ul class="list-group">
        <li class="list-group-item"><a href="/posts/">ホーム</a></li>
        <li class="list-group-item"><a href="/users/<%= current_user.id %>">マイページ</a></li>
        <li class="list-group-item"><a href="/users/<%= current_user.id %>/likes">いいね</a></li>
        <li class="list-group-item"><%= link_to("ランキング",ranking_posts_path) %></li>
        <li class="list-group-item"><%= link_to("検索",search_posts_path) %></li>
        <li class="list-group-item"><a href="/users">ユーザー一覧</a></li>
      </ul>
    </div>
    <div class="main-area">
      <div class="post-show">
        <div class="post-top">
          <div class="show-left">
            <div class="show-post_name">
              <h2><%= @post.name %><h2>
            </div>
            <div class="show-posts_image">
              <%= image_tag @post.posts_image.to_s, :size => '400x300' %>
            </div>
          </div>
          <div class="show-right">
            <div class="show-likes_icon">
              <% if Like.find_by(user_id:current_user.id,post_id:@post.id) %>
                <%= link_to("/likes/#{@post.id}/destroy",{method: "post"}) do %>
                <span>お気に入りに登録<i class="fa fa-heart unlike-btn"></i></span>
                <% end %> 
              <% else %>
                <%= link_to("/likes/#{@post.id}/create",{method: "post"}) do %>
                <span>お気に入りに登録<i class="far fa-heart gray-like-btn"></i></span>
                <% end %> 
              <% end %>
            </div>
            <div class="show-post_content">
              <%= simple_format(@post.content) %>
            </div>
            <div class="show-user_name">
              <%= image_tag @post.user.user_image.to_s, class:"user_image" %>
              <span><%= @post.user.name %></span>
            </div>
            <div class="show-link">
              <div class="show-comment">

                <a href="#">コメント○○件</a>
              </div>
              <div class="show-likes">
                <a href="#">いいね<%= @likes_count %>人</a>
              </div>
            </div>
          </div>
        </div>
        <div class="show-material">
          <table class="table table-striped">
            <tr><h3>材料</h3><h3></h3></tr>
          <tr>
            <% @post.foods.each do |food| %>
              <td><%= food.m_name %></td>
              <td><%= food.m_amount %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="show-recipe">
          <h3>作り方<h3>
          <% num = 0 %>
          <div class="show-process grid-show">
            <% @post.recipes.each do |recipe| %>
              <div class="process-image">
                <% num += 1 %>
                <p><%= num %></p>
                <%= image_tag recipe.process_image.to_s, :size => '250x250' %>
                <p><%= recipe.process %></p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="show-point">
          <h3>コツ・ポイント</h3>
          <span><%= @post.point %></span>
        </div>
        <div class="show-post_id">
          <span>レシピID: <%= @post.id %></span>
        </div>
        <div class="comment">
          <h3>コメント</h3>
          <div class="comment-grid">
            <% @comments.each do |c| %>
              <div class="comment-main">
                <div class="comment-name">
                  <a href="/users/<% @post.user.id %>"> <%= image_tag c.user.user_image.to_s, class:"user_image" %>
                  <span><%= c.user.name %></span></a>
                </div>
                <div class="comment-content">
                  <%= image_tag c.cook_image.to_s%>
                  <p><%= c.content %></P>
                </div>
                <% if user_signed_in? && c.user_id == current_user.id %>
                  <%=link_to "削除", post_comment_path(@post, c), method: :delete %>
              <% end %>   
              </div>
            <% end %>
          </div>
        </div>
        <div class="comment-new">
          <%= form_for [@post, @comment] do |form| %>
            <div class="field">
              <%= form.label :画像 %><br />
              <%= form.file_field :cook_image %>
            </div>
            <div class="field">
              <%= form.label :コメント %><br />
              <%= form.text_field :content %>
               <%= form.submit "コメントする" %>
            </div>
          <% end %>
        </div>
        <% if user_signed_in? && @post.user_id == current_user.id %>
          <%= link_to 'Edit', edit_post_path(@post) %> |
        <% end %>
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
  </div>
</div>