<p id="notice"><%= notice %></p>

<h1>Works</h1>
<%= form_tag('/works', method: 'get') do %>
  <%= label_tag(:name_key, 'Search name:') %>
  <%= select_tag :name_key,
  options_for_select(
    User.all.map {|o| [ "#{o.name}" , o.id ] }),include_blank: true %>
  <%= label_tag(:date_key, 'Search date:') %>
  <%= text_field_tag(:date_key) %>
  <%= label_tag(:category_key, 'Search category:') %>
  <%= select_tag :category_key,
  options_for_select(
    Category.all.map {|c| [ "#{c.name}" , c.id ] }),include_blank: true  %>
  <%= submit_tag('Search') %> <%= link_to 'Clear', works_path %>
  <% end %>
  
  <br>


<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.user.name %></td>
        <td><%= link_to work.date, work, class: 'widelink' %></td>
        <td><%= link_to work.category.name, work, class: 'widelink' %></td>
        <td><%= link_to work.count, work, class: 'widelink' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="sum">
  <p>合計:<%= @works.sum(:count) %></p>
</div>



<br>
<div class="btn">
  <%= link_to 'New Work', new_work_path , class: 'btn btn-primary'%>
  <%= link_to 'Content', categories_path, class:"btn btn-info" %>
</div>