<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @work.date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @work.category_id %>
</p>

<p>
  <strong>Count:</strong>
  <%= @work.count %>
</p>

<%= link_to 'Delete', @work,method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to 'Edit', edit_work_path(@work), class: 'btn btn-primary' %>
<%= link_to 'Back', works_path, class: 'btn btn-default' %>