<!DOCTYPE html>
<html>
  <head>
    <title>InstagramApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-main">
        <% if user_signed_in? %>
          <div class="header-left">
            <a href="/users/<%= current_user.id %>"><img src=<%= current_user.image %> class = "icon_image">
            <%= current_user.name %></a>
        <% else %>
          <div class="not-login">
            <div class="signup">
              Sign up
            </div>
            <div class="login">
              Login
            </div>
          </div>
        <% end %>
          </div>
        <% if user_signed_in? %>
          <div class="header-right">
            <a href="/articles" class="fa fa-home"  ></a>
            <a href="/users/<%= current_user.id %>/likes" class="fa fa-heart-o"></a>
            <a href="/users" class="fa fa-address-book"  ></a>
            <a href="/users/<%= current_user.id %>" class="fa fa-user-circle"></a>
            <%= link_to  destroy_user_session_path, method: :delete do %>
              <span class="fa fa-share-square-o"></span>
            <% end %>
          </div>
        <% end %>
        <!-- サインインモーダル -->
        <div class="signup-modal-wrapper" id="signup-modal">
          <div class="model">
            <div class="close-modal">
              <i class="fa fa-2x fa-times"></i>
            </div>
            <div id="signup-form">
              <h2>新規登録</h2>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
    
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
    
                <div class="field">
                  <%= f.label :name %><br />
                  <%= f.text_field :name %>
                </div>
    
                <div class="field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password" %>
                </div>
    
                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
    
                <div class="actions">
                  <%= f.submit "Sign up" %>
                </div>
              <% end %>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
        <!--ログインモーダル -->
        <div class="login-modal-wrapper" id="login-modal">
          <div class="model">
            <div class="close-modal">
              <i class="fa fa-2x fa-times"></i>
            </div>
            <div id="login-form">
              <h2>ログイン</h2>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>

                  <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "current-password" %>
                  </div>

                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>

                  <div class="actions">
                    <%= f.submit "Log in" %>
                  </div>
                <% end %> 

                <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

