<!DOCTYPE html>
<html>
  <head>
    <title>InstagramApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <link href="https://fonts.googleapis.com/css?family=Vollkorn rel="stylesheet">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
 
          </div>
          <span class="fa fa-bars menu-icon" id="menu-icon"></span>
        <% if user_signed_in? %>
          <div class="header-right">
            <a href="/articles" class="fa fa-home"  ></a>
            <a href="/users/<%= current_user.id %>/likes" class="fa fa-heart-o"></a>
            <a href="/users" class="fa fa-address-book"  ></a>
            <a href="/users/<%= current_user.id %>" class="fa fa-user-circle"></a>
            <a href="/articles/search" class="fa fa-search" ></a>
            <%= link_to  destroy_user_session_path, method: :delete do %>
              <span class="fa fa-share-square-o"></span>
            <% end %>
          </div>
          <ul class="list-group-small" id="list-group-small">
            <li class="list-group-item list-group-item-secondary"> <a href="/articles">HOME</a></li>
            <li class="list-group-item list-group-item-primary"> <a href="/users/<%= current_user.id %>/likes">いいね</a></li>
            <li class="list-group-item list-group-item-primary"> <a href="/users">ユーザー一覧</a></li>
            <li class="list-group-item list-group-item-primary"> <a href="/users/<%= current_user.id %>”>マイページ</a></li>
            <li class="list-group-item list-group-item-primary"> <a href="/articles/search" >検索</a></li>
            <li class="list-group-item list-group-item-primary"> <%= link_to 'ログアウト', destroy_user_session_path, method: :delete  %></li>
          </ul>
          <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <% if user_signed_in? %>
                <div class="navbar-brand">
                  <a href="/users/<%= current_user.id %>"><img src=<%= current_user.image %> class = "icon_image">
                  <%= current_user.name %></a>
              <% else %>
                <div class="not-login">
                  <div class="signup">
                    Sign up
                  </div>
                  <div class="login">
                    Login
                  </div>
                </div>
              <% end %>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#list">List</a></li>
                <li><a href="">Table</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <% end %>
        <!-- サインインモーダル -->
        <div class="signup-modal-wrapper" id="signup-modal">
          <div class="model">
            <div class="close-modal">
              <i class="fa fa-2x fa-times"></i>
            </div>
            <div id="signup-form">
              <h2>新規登録</h2>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
    
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
    
                <div class="field">
                  <%= f.label :name %><br />
                  <%= f.text_field :name %>
                </div>

                <div class="field">
                  <%= f.label :profile %><br />
                  <%= f.text_area :profile %>
                </div>

                <div class="field_image">
                  <%= f.label :image %><br/>
                  <%= f.file_field :image %>
                </div>
    
                <div class="field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password" %>
                </div>
    
                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
    
                <div class="actions">
                  <%= f.submit "Sign up" %>
                </div>
              <% end %>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
        <!--ログインモーダル -->
        <div class="login-modal-wrapper" id="login-modal">
          <div class="model">
            <div class="close-modal">
              <i class="fa fa-2x fa-times"></i>
            </div>
            <div id="login-form">
              <h2>ログイン</h2>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>

                  <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "current-password" %>
                  </div>

                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>

                  <div class="actions">
                    <%= f.submit "Log in" %>
                  </div>
                <% end %> 

                <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

