<div class="main user-show">
  <div class="container">
    <div class="show-main-wrapper">
      <div class="user">
        <div class="show-icon">
          <h2 ><%= @user.name %></h2>
          <img src="<%= @user.image %>" class="icon_image3">
          <div class="setting">
            <i class="fa fa-plus-circle"></i>
          </div> 
        </div>
        <!--settingモーダル -->
        <div class="setting-modal-wrapper" id="setting-modal">
          <div class="model">
            <div class="close-modal">
              <i class="fa fa-2x fa-times"></i>
            </div>
            <div id="setting-form">
              <h2>Edit <%= resource_name.to_s.humanize %></h2>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>

                <div class="field">
                  <%= f.label :name %><br />
                  <%= f.text_field :name %>
                </div>

                <div class="field">
                  <%= f.label :profile %><br />
                  <%= f.text_area :profile %>
                </div>

                <div class="field_image">
                  <%= f.label :image %><br/>
                  <%= f.file_field :image %>
                </div>
                

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "new-password" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>

                <div class="field">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "current-password" %>
                </div>

                <div class="actions">
                  <%= f.submit "Update" %>
                </div>
              <% end %>

              <h3>Cancel my account</h3>

              <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

              <%= link_to "Back", :back %>
            </div>
          </div>
        </div>
        
        <div class="follow">
          <a  href="/users/<%= current_user.id %>/following"><%= "フォロー #{@user.follower.count}" %>人</a>
          <a  href="/users/<%= current_user.id %>/followers"><%= "フォロワー #{@user.followed.count}" %>人</a>
          </div>
          <div class="follow-now">
          <% unless @user == current_user %>
            <% if current_user.following?(@user) %>
              <%= link_to 'フォロー中', unfollow_path(@user.id), method: :POST, class: "following-btn"%>
            <% else %>
              <%= link_to 'フォローする', follow_path(@user.id), method: :POST , class: "followerd-btn"%>
            <% end %>
          <% end %>
        </div>
        <div class="post-new">
          <%= link_to ("/articles/new") do %>
            <span class="fa fa-pencil-square-o"></span>
          <% end %>
        </div>
        <div class="profile">
          <%= simple_format(@user.profile,class: "profole-p") %>
        </div>
      </div>
      <div class="user_article grid">
        <% @user.articles.each do |article| %>
          <div class="user_article">
            <a href="/articles/<%= article.id %>"><%= image_tag article.image.to_s, :size => '250x250' %></a>
          </div>
        <% end %>
      </div>
      <div class="new-article">
        <%= link_to 'New Article', new_article_path %>
     </div>
     <div class="followr-index">
 



      </div>
    </div>
  </div>
</div>