<div class="user_index">
  <div class="container">
    <div class="user-index">
      <div class="followr-user">
        <h3>フォロー一覧</h3>
        <ul class="user-list">
          <% @user.following_user.where.not(id: current_user.id).each do |user| %>
            <li>
              <a href="/users/<%= user.id %>"><img src="<%= user.image %>"  class = "icon_image2">     <%= user.name %></a>
              <% if current_user.following?(user) %>
                <%= link_to 'フォロー中', unfollow_path(user.id), method: :POST , class: "following-btn" %>
              <% else %>
                <%= link_to 'フォローする', follow_path(user.id), method: :POST, class: "followerd-btn" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>