<div class="main posts-index">
  <div class="index-container">
<%#= -------サイドバー --------- %>
    <div class="aside">
      <div class="aside-main">
        <div class="sub-title">
          <i class="fa fa-twitter fa-3x"></i>
        </div>
        <ul class="sub-menu">
          <li><span class="fa fa-home"></span><a href="#">Home</a></li>
          <li><span class="fa fa-search"></span><a href="#">Explore</a></li>
          <li><span class="fa fa-bell-o"></span><a href="#">Notfications</a></li>
          <li><span class="fa fa-envelope-o"></span><a href="#">Messages</a></li>
          <li><span class="fa fa-bookmark-o"></span><a href="#">Bookmarks</a></li>
          <li><span class="fa fa-list-alt"></span><a href="#">Lists</a></li>
          <li><span class="fa fa-user-o"></span><a href="#">Profile</a></li>
          <li><span class="fa fa-chevron-circle-down"></span><a href="#">More</a></li>
        </ul>
        <div class="sub-btn">
          <a href="/posts/new" ><input class="tweet" type="button"  value="Tweet"></a>
        </div>
        <div class="user-sub">
          <div class="display-none">
            <ul>
              <li><img src="<%= "/user_images/#{@current_user.image_name}" %>"><span><%= @current_user.name %><span></li>
              <li><a href="/signup">既存のアカウントを追加</li>
              <li><a href="/logout", {method: :post})><%= @current_user.name %>からログアウト</a></li>
            </ul>
          </div>
          <a href="#" class="display"><img src="<%= "/user_images/#{@current_user.image_name}" %>"><span><%= @current_user.name %><span></a> 
        </div>
      </div>
    </div>
<%#------ メインエリア -----%>
    <div class="main-article">
      <div class="post-article">
        <div class="post-top">
        <a href="/posts/index" ><input class="home" type="button"  value="Home"></a>
          <span class="fa fa-star-o"></span>
        </div>
        <div class="post-mid">
          <div class="tweet-area">
            <div class="user-icon">
              <img src="<%= "/user_images/#{@current_user.image_name}" %>">
            </div>
            <%= form_tag("/posts/create") do %>
            <div class="post-new">
              <div class="post-tweet">
                <% @post.errors.full_messages.each do |message| %>
                  <div class="form-error">
                    <%= message %>
                  </div>
                <% end %>
                <textarea name="content" class="writing-area">What's happening?</textarea>
                <div class="everyone">
                    <a href="#"><span class="fa fa-globe"></span>Everyone can replay?</a>
                </div>
              </div>
              <div class="new-bottom">
                <span class="fa fa-picture-o"></span>
                <span class="fa fa-git-square"></span>
                <span class="fa fa-signal"></span>
                <span class="fa fa-smile-o"></span>
                <span class="fa fa-calendar-check-o"></span>
                <input type="submit"  class="tweet-btn" value="Tweet">
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="post-bottom">
          <% @posts.each do |post| %>
            <div class="posts-index-item">
              <div class="post-left">
                <img src="<%= "/user_images/#{post.user.image_name}" %>">
              </div>
              <div class="post-right">
                <div class="post-user-name">
                  <%= link_to(post.user.name, "/users/#{post.user.id}") %>
                </div>
                <%= link_to(post.content, "/posts/#{post.id}") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>