<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash" id="flash">
      <%= flash[:notice] %>
      </div>
    <% end %>
    <script>
      $(function() {
        setTimeout("$('.flash').fadeOut('slow')", 2000);

        $('#display').click(function(){
          $('#display-none').fadeIn(500);
        });

        });


    </script>
    <%= yield %>
  </body>
</html>
